$primary: #f02222;
$secondary: #BB8378;
$tertiary: #fff6f3;

$bg-grey: #FDFBFB;
$grey-1: #999999;
$grey-2: #e1e1e1;
$grey-3: #f1f1f1;
$grey-4: #cccccc;
$grey-5:#B3B3B3;
$grey-6:#7C7C7C;
$grey-7:#6A6A6A;


$home-sections-margin: 150px;


$standard-box-padding: 30px;
